li.placeholder {background: rgb(255,240,120);}
li.placeholder:before {
  content: "Drop here";
  color: rgb(225,210,90);
}

.hover-pointer {
  cursor: pointer;
}

.list-hover:hover {
  cursor: pointer;
  color: steelblue;
}

.list-remove {
  color: #333;
}

.list-remove:hover {
  cursor: pointer;
  color: #BD3939;
}

.home-jumbotron {
  background-color: #F5B445;
  color: #7D7D7D;
}


.list-group-item span {
  pointer-events: none;
}

.delete-schema {
  font-size: 30px;
  color: #BD3939;
}

.favorite {
  font-size: 30px;
}

.favorite.glyphicon-start-empty {
  color: #333;
}

.favorite.glyphicon-star {
  color: #EDC84E;
}

.widget {
  max-height: 300px;
  overflow-y: scroll;
  position: relative;
}

.modal-backdrop {
  opacity: 100;
	position: fixed;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	background-color: #286090;
}

.modal-inner {
	position:relative;
	padding: 25px 50px;
	z-index: 2000;
	background-color: #fff;
	left: 10%;
	right: 10%;
	margin-top: 75px;
	width: 80%;
	border-radius: 25px;
	height: 80%;
	overflow: hidden;
}

.inheritDimensions {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.scrollable {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.red {
	color: red;
}

.schema-pencil {
  font-size: 24px;
}

/*Loading Spinner*/
.spinner {
  height: 30px;
  width: 30px;
  margin: 0 auto 0 auto;
  position: relative;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

.edit-widget {
  animation-name: enter-right;
  animation-duration: .1s;
  animation-timing-function: linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@-webkit-keyframes enter-right {
  from {
    -webkit-transform: translate(100%, 0);
  }
  to {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes enter-right {
  from {
    -moz-transform: translate(100%, 0);
  }
  to {
    -moz-transform: translate(0, 0);
  }
}

@-o-keyframes enter-right {
  from {
    -o-transform: translate(100%, 0);
  }
  to {
    -o-transform: translate(0, 0);
  }
}

@keyframes enter-right {
  from {
    transform: translate(100%, 0);
  }
  to {
    transform: translate(0, 0);
  }
}